# Copyright Martin V\"ath <martin at mvath.de>.
# SPDX-License-Identifier: BSD-3-Clause
[Unit]
Description=system wide schedule-server

# Use the following line only if you want systemd socket activation:
Requires=schedule.socket

[Service]
User=schedule
Group=schedule
Nice=19
CapabilityBoundingSet=
MemoryDenyWriteExecute=true
MountFlags=private
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
#RemoveIPC=true
RestrictRealtime=true

# Use the following lines only if you want systemd socket activation:
StandardInput=socket
PrivateNetwork=true
ProtectKernelTunables=true
ProtectSystem=strict
ReadOnlyPaths=/
RestrictAddressFamilies=

# Use option --fd=0 only if you want systemd socket activation:
ExecStart=/usr/bin/schedule-server --syslog -Y/etc/schedule.password --fd=0

ExecStop=/usr/bin/schedule -Y/etc/schedule.password -T7 stop-server
TimeoutStopSec=10
SuccessExitStatus=130

[Install]
WantedBy=multi-user.target
