[Unit]
Description=Server to schedule and execute queued jobs

[Service]
User=nobody
Group=nobody
SupplementaryGroups=
Nice=19
ExecStart=/usr/bin/schedule-server -k
ExecStop=/usr/bin/schedule stop-server

[Install]
WantedBy=multi-user.target
