# Copyright Martin V\"ath <martin at mvath.de>.
# SPDX-License-Identifier: BSD-3-Clause
[Unit]
Description=schedule-server socket

[Socket]
ListenStream=127.0.0.1:8471

[Install]
WantedBy=sockets.target
